@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Описание:</p>
<p>Важно сделать таблицу с ФИО рабочего (ФИО)</p>
<p>Сделать таблицу с проектами, которые выполняет рабочий.</p>
<p>(Название проекта, сумма премии рабочего)</p>
<p>Важно реализовать возможность добавлять/редактировать/удалять/читать данные о рабочем и его проектах.</p>
<p>У сущности рабочего должно быть navigation property к его проектам.</p>
<p>Должна быть возможность выводить список (ФИО, суммарный размер премии), отсортированный по суммарному размеру премии (по убыванию).</p>
