@page
@model Lab4.Pages.Workers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Hire worker</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Worker.FullName" class="control-label"></label>
                <input asp-for="Worker.FullName" class="form-control" />
                <span asp-validation-for="Worker.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Hobby" class="control-label"></label>
                <input asp-for="Worker.Hobby" class="form-control" />
                <span asp-validation-for="Worker.Hobby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Hire" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
