@page "{id:int?}"
@model Lab4.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.ProjectID" />
            <div class="form-group">
                <label asp-for="Project.WorkerID" class="control-label"></label>
                <select asp-for="Project.WorkerID" class="form-control" asp-items="ViewBag.WorkerFullName"></select>
                <span asp-validation-for="Project.WorkerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Award" class="control-label"></label>
                <input asp-for="Project.Award" class="form-control" />
                <span asp-validation-for="Project.Award" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
